<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Cake Delight</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/cake.png}" src="../static/images/cake.png" width="auto" height="40" alt="Logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">Cakes</a>
                </li>
                <li class="nav-item active" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}" href="#">Login</a>
                </li>
                <li class="nav-item active" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link badge badge-primary" th:text="${cartCount}">0</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid text-center bg-primary text-white">
    <div class="container">
        <h1 class="display-4">Welcome to Cake Delight</h1>
        <p class="lead">Freshly baked cakes for every occasion. Celebrate moments with sweetness!</p>
        <a th:href="@{/shop}" class="btn btn-lg btn-light">Explore Our Cakes</a>
    </div>
</div>

<!-- Features Section -->
<div class="container my-5">
    <div class="row text-center">
        <div class="col-md-4">
            <i class="fas fa-birthday-cake fa-3x text-primary mb-3"></i>
            <h4>Custom Cakes</h4>
            <p>Personalize your cakes for birthdays, weddings, and special occasions.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-truck fa-3x text-primary mb-3"></i>
            <h4>Fast Delivery</h4>
            <p>Get your cakes delivered fresh and on time to your doorstep.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-cookie fa-3x text-primary mb-3"></i>
            <h4>Wide Variety</h4>
            <p>Choose from a wide range of cakes, pastries, and desserts.</p>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-light py-4">
    <div class="container text-center">
        <p class="mb-0">&copy; 2024 Cake Delight. Baked with love. All Rights Reserved.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
